@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Select the bank</h2>
    <ul>
        <li><a asp-controller="BeBelfius" asp-action="Index">Be/Belfius</a></li>
        <li><a href="/Home/StartBeCbc">BE/CBC</a></li>
        <li><a href="/Home/StartBeBnp">BE/BNP</a></li>
    </ul>
</div>
